$body-font :  Arial,Helvetica,sans-serif; 
$heading-font : 'Be Vietnam Pro', sans-serif;

$body-bg: #fff;
$body-color: #000;


$primary: #1697D9;
$secondary: #032853;

// $btn-bg: $primary;
// $btn-bg-hover: #032853;
$btn-border: #56a1c5;
$btn-color: #fff;

/* colors */
$gray : #707070;
$black: #000000;
$white: #ffffff;
// $primary: purple;
$blue: #032853;


$light-gray: rgba(3, 40, 83, 0.05);

// $colors: (
//   "blue": $blue,
//   "purple": $purple,
//   "pink": $pink,
//   "red": $red,
//   "orange": $orange,
//   "yellow": $yellow,
//   "green": $green,
//   "teal": $teal,
//   "cyan": $cyan,
//   "white": $white,
//   "gray": $gray-600,
//   "gray-dark": $gray-800
// ) !default;


$text-colors: (
  "dark": $black,
  "light": $white,
  "gray": $gray,
);



@function text-color($key: "light") {
    @return map-get($text-colors, $key);
}



// @@mixin text-mlevel {
//     margin: 0;
//     font-size: 22px;
//     color: #000 !important;
//     font-weight: bold;
//     font-family: "Arial";
//     letter-spacing: 0.15em;
// }

