/* -------begin __var customization-------- */


$body-font :  Arial,Helvetica,sans-serif; 
$heading-font : 'Be Vietnam Pro', sans-serif;

$body-bg: #fff;
$body-color: #000;


$primary: #1697D9;
$secondary: #032853;

// $btn-bg: $primary;
// $btn-bg-hover: #032853;
$btn-border: #56a1c5;
$btn-color: #fff;

/* colors */
$gray : #707070;
$black: #000000;
$white: #ffffff;
// $primary: purple;
$blue: #032853;


$light-gray: rgba(3, 40, 83, 0.05);

// $colors: (
//   "blue": $blue,
//   "purple": $purple,
//   "pink": $pink,
//   "red": $red,
//   "orange": $orange,
//   "yellow": $yellow,
//   "green": $green,
//   "teal": $teal,
//   "cyan": $cyan,
//   "white": $white,
//   "gray": $gray-600,
//   "gray-dark": $gray-800
// ) !default;


$text-colors: (
  "dark": $black,
  "light": $white,
  "gray": $gray,
);



@function text-color($key: "light") {
    @return map-get($text-colors, $key);
}



// @@mixin text-mlevel {
//     margin: 0;
//     font-size: 22px;
//     color: #000 !important;
//     font-weight: bold;
//     font-family: "Arial";
//     letter-spacing: 0.15em;
// }



$grid-breakpoints: (
  xxxs: 0,
  xxs: 320px,
  xs: 568px,
  sm: 667px,
  md: 769px,
  lg: 992px,
  xl: 1200px,
  xxl: 1440px,
  xxxl: 1920px
);

$container-max-widths: (
  xxxs: 0,
  xxs: 320px,
  xs: 568px,
  sm: 667px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1440px,
  xxxl: 1506px
);

$grid-gutter-width: 54px;
$spacer: 1rem !default;
$spacers: ();
// $spacers: () !default; //if var has already been assigned, then it won't be reassigned by the default values in Bootstrap.

// stylelint-disable-next-line scss/dollar-variable-default
$spacers: map-merge(
    (         
        0: 0,
        1: ($spacer * .3125),     //5px
        2: ($spacer * .625),      //10px
        3: ($spacer * 0.9375),    //15px
        4: ($spacer * 1.5625),    //25px
        5: ($spacer * 1.875),     //30px
        6: ($spacer * 2.1875),    //35px
        7: ($spacer * 2.5),       //40px
        8: ($spacer * 2.8125),    //45px
        9: ($spacer * 3.125),     //50px
        10: ($spacer * 3.4375),   //55px
        11: ($spacer * 3.75),     //60px
        12: ($spacer * 5),        //80px
        13: ($spacer * 6.25),     //100px
        14: ($spacer * 7.5),      //120px
        15: ($spacer * 9.375),    //150px
        16: ($spacer * 10),       //160px
        17: ($spacer * 10.625),    //170px
        18: ($spacer * 11.25),     //180px        
        19: ($spacer * 11.875),    //190px
        20: ($spacer * 12.5)      //200px
    ),
    $spacers
);


$gutters: (
  0: 0,
  1: $spacer * .25,       // 4px
  2: $spacer * .5,        // 8px
  3: $spacer,             // 16px
  4: $spacer * 1.5,       // 24px
  5: $spacer * 2.5,       // 40px
  6: $spacer * 3.375,     // 54px
  7: $spacer * 6.25       // 100px
);

/* -------end customization-------- */