<footer>

    <div class="container-xs container-lg container-xl">

        <!-- Desktop Footer -->
        <div class="row d-none d-lg-flex gx-xl-3 gx-xxl-6">

            <div class="col-4">

                <div class="col-xxl-8">
                    <!-- Footer Logo -->
                    <a class="brand-logo" href="#">
                        <img src="../assets/logo-footer.svg" alt="Footer Logo">
                    </a>

                    <p>NetLink Trust designs, builds, owns and operates the fibre network infrastructure which is the
                        foundation of
                        Singapore’s Next Generation Nationwide Broadband Network.</p>
                    <p class="text-tag text-uppercase text-left mt-5 mb-1"> Copyright © 2021 NetLink Trust.</p>
                    <p class="text-tag text-uppercase text-left"> All Rights Reserved.</p>
                </div>

            </div>

            <div class="col-2">
                <h5 class="small-body-bold">About us</h5>
                <ul class="nav flex-column">
                    <li class="nav-item"><a href="/about.html" class="nav-link p-0">NetLinkTrust</a></li>
                    <li class="nav-item"><a href="/management.html" class="nav-link p-0">Management</a></li>
                    <li class="nav-item"><a href="#" class="nav-link p-0">Corporate Governance</a></li>
                    <li class="nav-item"><a href="/hsse.html" class="nav-link p-0">HSSE Policy</a></li>
                    <li class="nav-item"><a href="/careers.html" class="nav-link p-0">Careers</a></li>
                </ul>
            </div>

            <div class="col-2">
                <h5 class="small-body-bold">Fibre Broadband</h5>
                <ul class="nav flex-column">
                    <li class="nav-item"><a href="fibre-broadband-home.html" class="nav-link p-0">For Home</a></li>
                    <li class="nav-item"><a href="/fibre-for-enterprise.html" class="nav-link p-0">For Enterprise</a></li>
                    <li class="nav-item"><a href="/fibre-for-telcos.html" class="nav-link p-0">For Telcos</a></li>
                    <li class="nav-item"><a href="/fibre-earthworks-contractors.html" class="nav-link p-0">For Earthworks Contractors</a></li>
                    <li class="nav-item"><a href="/fibre-building-dev.html" class="nav-link p-0">For Building Developers</a></li>
                    <li class="nav-item"><a href="/fibre-building-management.html" class="nav-link p-0">For Building Management</a></li>
                </ul>
            </div>

            <div class="col-2">
                <h5 class="small-body-bold">Media</h5>
                <ul class="nav flex-column">
                    <li class="nav-item"><a href="/press-releases.html" class="nav-link p-0">Press Releases</a></li>
                    <li class="nav-item"><a href="/media-statements.html" class="nav-link p-0">Media Statements</a>
                    </li>
                    <li class="nav-item"><a href="/media-notices.html" class="nav-link p-0">Notices</a></li>
                    <li class="nav-item"><a href="/media-library.html" class="nav-link p-0">Media Library</a></li>
                </ul>
                <div class="my-3"></div>
                <h5><a href="#" class="small-body-bold nav-link p-0">Investors<i
                            class="text-light bi bi-box-arrow-up-right"></i></a>
                </h5>
            </div>

            <div class="col-2">
                <h5 class="small-body-bold">Procurement</h5>
                <ul class="nav flex-column">
                    <li class="nav-item"><a href="/procurement.html/#tenders" class="nav-link p-0">Tenders</a></li>
                    <li class="nav-item"><a href="/procurement.html/#code-of-conduct" class="nav-link p-0">Supplier Code of Conduct</a></li>
                </ul>
                <div class="mt-7"></div>
                <h5><a href="/faqs.html" class="small-body-bold nav-link p-0">FAQ</a></h5>
                <h5><a href="/contact.html" class="small-body-bold nav-link p-0">Contact us</a></h5>
                <div class="mt-6"> </div>

                <ul class="list-unstyled d-flex mb-0">
                    <li>
                        <a class="link-light" href="#">
                            <i class="fab fa-facebook-square"></i>
                        </a>
                    </li>
                    <li>
                        <a class="link-light" href="#">
                            <i class="fab fa-linkedin"></i>
                        </a>
                    </li>
                </ul>

            </div>

        </div>

        <!-- Mobile Footer -->
        <div class="mobile-footer text-center d-lg-none">

            <!-- Footer Logo -->
            <a class="brand-logo" href="#">
                <img src="../assets/logo-footer.svg" alt="Footer Logo">
            </a>

            <ul class="list-unstyled d-flex justify-content-center mb-0">
                <li>
                    <a class="link-light" href="#">
                        <i class="fab fa-facebook-square"></i>
                    </a>
                </li>
                <li class="ms-3">
                    <a class="link-light" href="#">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </li>
            </ul>


            <p class="text-tag text-uppercase text-left"> Copyright © 2021 NetLink Trust.</p>
            <p class="text-tag text-uppercase text-left"> All Rights Reserved.</p>

        </div>
    </div>

</footer>


<!-- Play Button Popup Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered mx-sm-auto">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div style="margin:0px;padding:0px;overflow:hidden">
                    <iframe class="w-100" src="https://www.youtube.com/embed/uhEEusLkFn0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>