<footer class="py-5">

    <div class="container">

        <!-- Desktop Footer -->
        <div class="row d-none d-md-flex">

            <div class="col-4">

                <!-- Footer Logo -->
                <a class="brand-logo" href="#">
                    <img src="../assets/footer_logo@2x.png" alt="Footer Logo">
                </a>
                <hr class="my-3">
                <p>NetLink Trust designs, builds, owns and operates the fibre network infrastructure which is the foundation of Singapore’s Next Generation Nationwide Broadband Network.</p>
                <p class="mt-5"> Copyright © 2018 NetLink Trust. All Rights Reserved.</p>
            
            </div>                

            <div class="col-2">
                <h5>About us</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0">NetLinkTrust</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Management</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Corporate Governance</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0">HSSE Policy</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Careers</a></li>
                </ul>
            </div>

            <div class="col-2">
                <h5>Fibre Broadband</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0">For Home</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0">For Enterprise</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0">For Telcos</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0">For Earthworks Contractors</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0">For Building Developers</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0">For Building Management</a></li>
                </ul>
            </div>

            <div class="col-2">
                <h5>Media</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Press Releases</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Media Statements</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Notices</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Media Library</a></li>
                </ul>
                <hr class="my-3">
                <h5><a href="#" class="nav-link p-0"">Investors <i class="text-light bi bi-box-arrow-up-right"></i></a></h5>
            </div>

            <div class="col-2">
                <h5>Procurement</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Tenders</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Supplier Code of Conduct</a></li>
                </ul>
                <hr class="my-3">
                <h5><a href="#" class="nav-link p-0"">FAQ</a></h5>
                <h5><a href="#" class="nav-link p-0"">Contact us</a></h5>
                <hr class="my-3">

                <ul class="list-unstyled d-flex">
                    <li>
                        <a class="link-light" href="#">
                            <i class="fab fa-facebook-square"></i>                        </a>
                        </li>
                    <li class="ms-3">
                        <a class="link-light" href="#">
                            <i class="fab fa-linkedin"></i>
                        </a>
                    </li>
                </ul>

            </div>                

        </div>

        <!-- Mobile Footer -->
        <div class="text-center py-4 d-md-none">
                      
            <!-- Footer Logo -->
            <a class="brand-logo" href="#">
                <img src="../assets/footer_logo@2x.png" alt="Footer Logo">
            </a>

            <div class="my-3"></div>

            <ul class="list-unstyled d-flex justify-content-center">
                <li>
                    <a class="link-light" href="#">
                        <i class="fab fa-facebook-square"></i>                    </a>
                </li>
                <li class="ms-3">
                    <a class="link-light" href="#">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </li>
            </ul>

            <p>Copyright © 2021 NetLink Trust.<br>
                All Rights Reserved.</p>

        </div>
    </div>

</footer>