<header class="sticky-top">
  <nav class="navbar navbar-expand-lg navbar-light">


    <div class="container-fluid p-0">

      <!-- Logo -->
      <a class="navbar-brand pt-0" href="index.html">
        <img src="../assets/site-logo.svg" alt="Logo">
      </a>

      <!-- Navbar - Bento Menu -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#myMenu"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

        <!-- <span class="navbar-toggler-icon"></span> -->
        <div class="navbar-toggler-custom-icon">
          <div class="menu__item--bento">
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
          </div>
        </div>

        <div class="close-icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="36.071" height="36.071" viewBox="0 0 36.071 36.071">
            <line id="Line_18926" data-name="Line 18926" y1="29" x2="29" transform="translate(3.536 3.536)" fill="none"
              stroke="#000" stroke-linecap="round" stroke-width="5" />
            <line id="Line_18927" data-name="Line 18927" x1="29" y1="29" transform="translate(3.536 3.536)" fill="none"
              stroke="#000" stroke-linecap="round" stroke-width="5" />
          </svg>
        </div>

      </button>
      
      <div class="collapse navbar-collapse" id="myMenu">
        <ul class="navbar-nav m-sm-auto mb-2 mb-lg-0">

          <li class="nav-item dropdown">
            <span class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">About Us</span>

            <!-- dropdown menu -->
            <div class="dropdown-menu w-100" aria-labelledby="navbarDropdown">
                  <a class="nav-link dropdown-item" href="about.html"><span>NetLink Trust</span></a>
                  <a class="nav-link dropdown-item" href="management.html"><span>Management</span></a>
                  <a class="nav-link dropdown-item" href="#">
                    <span>Corporate Governance</span>
                    <i class="text-dark bi bi-box-arrow-up-right"></i>
                  </a>
                  <a class="nav-link dropdown-item" href="hsse.html"><span>HSSE Policy</span></a>
                  <a class="nav-link dropdown-item" href="careers.html"><span>Careers</span></a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <span class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">Fibre broadband</span>
            <!-- dropdown menu -->
            <div class="dropdown-menu w-100" aria-labelledby="navbarDropdown">
                  <a class="nav-link dropdown-item" href="fibre-broadband-home.html">For Home</a>
                  <a class="nav-link dropdown-item" href="fibre-for-enterprise.html">For Enterprise</a>
                  <a class="nav-link dropdown-item" href="fibre-for-telcos.html">For Telcos</a>
                  <a class="nav-link dropdown-item" href="fibre-earthworks-contractors.html">For Earthworks Contractors</a>
                  <a class="nav-link dropdown-item" href="fibre-building-dev.html">For Building Developers</a>
                  <a class="nav-link dropdown-item" href="fibre-building-management.html">For Building Management</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <span class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">Media</span>
            <!-- dropdown menu -->
            <div class="dropdown-menu w-100" aria-labelledby="navbarDropdown">
                  <a class="nav-link dropdown-item" href="press-releases.html">Press Releases</a>
                  <a class="nav-link dropdown-item" href="media-statements.html">Media Statements</a>
                  <a class="nav-link dropdown-item" href="media-notices.html">Notices</a>
                  <a class="nav-link dropdown-item" href="media-library.html">Media Library</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span>Investors <i class="text-dark bi bi-box-arrow-up-right ms-2"></i></span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="procurement.html"><span>Procurement</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="faqs.html"><span>Faq</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact.html"><span>Contact Us</span></a>
          </li>
        </ul>
        <!-- Search Icon/Bar -->
        <div id="mdb-5-search-container" class="d-none d-lg-block">
          <div class="nav-item dropdown">
            <span class="input-group-text dropdown-toggle" href="#" id="navbarDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              <i data-feather="search"></i>
            </span>
            <!-- dropdown menu  -->
            <div class="dropdown-menu w-100" aria-labelledby="navbarDropdown">
              <form class=" col-8 d-md-flex mx-auto">
                <input id="mdb-5-search-input" autocomplete="off" type="search" class="form-control rounded"
                  placeholder="Search (ctrl + &quot;/&quot; to focus)">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </nav>
</header>