<header>
  <nav class="navbar navbar-expand-lg navbar-light">

    <div class="container-fluid p-0">

      <!-- Logo -->
      <a class="navbar-brand pt-0" href="index.html">
        <img src="../assets/site-logo.svg" alt="Logo">
      </a>

      <!-- Navbar - Bento Menu -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">

        <!-- <span class="navbar-toggler-icon"></span> -->
        <div class="navbar-toggler-custom-icon">
          <div class="menu__item--bento">
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
          </div>
        </div>

        <!-- <div class="close-icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="36.071" height="36.071" viewBox="0 0 36.071 36.071">
            <line id="Line_18926" data-name="Line 18926" y1="29" x2="29" transform="translate(3.536 3.536)" fill="none"
              stroke="#000" stroke-linecap="round" stroke-width="5" />
            <line id="Line_18927" data-name="Line 18927" x1="29" y1="29" transform="translate(3.536 3.536)" fill="none"
              stroke="#000" stroke-linecap="round" stroke-width="5" />
          </svg>
        </div> -->

      </button>

      <!-- Navbar -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!-- <div id="mpMenu" class="mp-menu"> -->

          <ul class="navbar-nav m-sm-auto mb-2 mb-lg-0 mp-level" data-level="1">
            <!-- <li class="nav-item">
                  <a class="nav-link" href="demo.html"><span>Demo</span></a>
                  </li> -->
            <li class="nav-item dropdown">
              <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"><span>About Us</span></a>
              <!-- <a class="nav-link active" aria-current="page" href="#">About Us</a> -->

              <!-- dropdown menu -->
              <div class="dropdown-menu w-100" aria-labelledby="navbarDropdown">

                <ul class="d-flex justify-content-center col-md-10 mx-auto">
                  <li class="nav-item">
                    <a class="nav-link" href="/about.html">NetLinkTrust</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Management</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">
                      Corporate Governance
                      <i class="text-dark bi bi-box-arrow-up-right"></i>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">HSSE Policy</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Careers</a>
                  </li>       
                </ul>

              </div>

            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"><span>Fibre broadband</span></a>

              <!-- dropdown menu -->
              <div class="dropdown-menu w-100" aria-labelledby="navbarDropdown">
                <ul class="d-flex justify-content-center col-md-10 mx-auto">
                <li class="nav-item">
                  <a class="nav-link" href="#">For Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">For Enterprise</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">For Telcos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">For Earthworks Contractors</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">For Building Developers</a>
                </li>       
                <li class="nav-item">
                  <a class="nav-link" href="#">For Building Management</a>
                </li>  
              </ul>
              </div>

            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"><span>Media</span></a>

              <!-- dropdown menu -->
              <div class="dropdown-menu w-100" aria-labelledby="navbarDropdown">

                <ul class="d-flex justify-content-center col-md-10 mx-auto">
                  <li class="nav-item">
                    <a class="nav-link" href="#">Press Releases</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Media Statements</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Notices
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Media Library</a>
                  </li>
                </ul>

              </div>

            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span>Investors</span>
                <i class="text-dark bi bi-box-arrow-up-right"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><span>Procurement</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><span>Faq</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><span>Contact Us</span></a>
            </li>
          </ul>

        <!-- </div> -->

        <ul class="list-unstyled d-flex d-sm-none">
          <li>
            <a class="link-blue" href="#">
              <i class="fab fa-facebook-square"></i>
            </a>
          </li>
          <li class="ms-3">
            <a class="link-blue" href="#">
              <i class="fab fa-linkedin"></i>
            </a>
          </li>
        </ul>

        <!-- Search Icon/Bar -->
        <div id="mdb-5-search-container" class="d-none d-lg-block">

          <div class="nav-item dropdown">
            <span class="input-group-text dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i data-feather="search"></i>
            </span>

            <!-- dropdown menu -->
            <div class="dropdown-menu w-100" aria-labelledby="navbarDropdown">
              <form class=" col-8 d-md-flex mx-auto">
                <input id="mdb-5-search-input" autocomplete="off" type="search" class="form-control rounded"
                  placeholder="Search (ctrl + &quot;/&quot; to focus)">
              </form>
            </div>

          </div>

        </div>

      </div>

    </div>

  </nav>

  <a href="#" id="trigger" class="menu-trigger d-none">Open/Close Menu</a>

</header>