
<div class="nlt-slider">

    <div class="full-slider">

        
        <div class="slide-item">

            <div class="mobile-banner">

                <img src="../assets/fibre-smart-nation-banner.jpg" alt="Starhub" class="d-none d-lg-block img-fluid w-100">
                <img src="../assets/mobile-fibre-smart-nation-banner1.jpg" alt="Starhub" class="d-block d-lg-none img-fluid w-100">

                <!-- Button trigger modal -->
                <button class="d-block d-lg-none" type="button" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">
                   <img src="../assets/playcircle.svg">

                </button>
            </div>

            <div class="content-box py-5">
                <div class="container">

                    <h1>Fibre of a smart nation</h1>
                    <p class="small-body py-4"> NetLink Trust has been laying the optical fibre infrastructure to support Singapore’s Smart Nation journey since 2009. </p>

                    <a class="btn btn-primary" href="#" role="button">Learn more</a>
                </div>
            </div>

            <!-- Button trigger modal -->
            <button class="d-none d-lg-block" type="button" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">
                <img src="../assets/playcircle.svg">


            </button>

        </div>

        <div class="slide-item">

            <div class="mobile-banner">

                <img src="../assets/test-banner@2x.jpeg" alt="Starhub" class="d-none d-lg-block img-fluid w-100">
                <img src="../assets/test-banner1.jpeg" alt="Starhub" class="d-block d-lg-none img-fluid w-100">

                <!-- Button trigger modal -->
                <button class="d-block d-lg-none" type="button" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">
                    <img src="../assets/playcircle.svg">


                </button>
            </div>

            <div class="content-box py-5">
                <div class="container">

                    <h1>Connectivity at the speed of light</h1>
                    <p class="small-body py-4"> NetLink Trust has been laying the optical fibre infrastructure to support Singapore’s Smart Nation journey since 2009. </p>

                    <a class="btn btn-primary" href="#" role="button">Learn more</a>
                </div>
            </div>

            <!-- Button trigger modal -->
            <button class="d-none d-lg-block" type="button" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">
                <img src="../assets/playcircle.svg">


            </button>

        </div>

        <div class="slide-item">

            <div class="mobile-banner">

                <img src="../assets/fibre-smart-nation-banner.jpg" alt="Starhub" class="d-none d-lg-block img-fluid w-100">
                <img src="../assets/mobile-fibre-smart-nation-banner1.jpg" alt="Starhub" class="d-block d-lg-none img-fluid w-100">

                <!-- Button trigger modal -->
                <button class="d-block d-lg-none" type="button" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">
                    <img src="../assets/playcircle.svg">


                </button>
            </div>

            <div class="content-box py-5">
                <div class="container">

                    <h1>Enhancing your digital experience</h1>
                    <p class="small-body  py-4"> NetLink Trust has been laying the optical fibre infrastructure to support Singapore’s Smart Nation journey since 2009. </p>

                    <a class="btn btn-primary" href="#" role="button">Learn more</a>
                </div>
            </div>

            <!-- Button trigger modal -->
            <button class="d-none d-lg-block" type="button" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">
                <img src="../assets/playcircle.svg">


            </button>

        </div>

        <div class="slide-item">

            <div class="mobile-banner">

                <img src="../assets/test-banner@2x.jpeg" alt="Starhub" class="d-none d-lg-block img-fluid w-100">
                <img src="../assets/test-banner1.jpeg" alt="Starhub" class="d-block d-lg-none img-fluid w-100">

                <!-- Button trigger modal -->
                <button class="d-block d-lg-none" type="button" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">
                    <img src="../assets/playcircle.svg">


                </button>
            </div>

            <div class="content-box py-5">
                <div class="container">

                    <h1>Empowering digital transformation</h1>
                    <p class="small-body py-4"> NetLink Trust has been laying the optical fibre infrastructure to support Singapore’s Smart Nation journey since 2009. </p>

                    <a class="btn btn-primary" href="#" role="button">Learn more</a>
                </div>
            </div>

            <!-- Button trigger modal -->
            <button class="d-none d-lg-block" type="button" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">
                <img src="../assets/playcircle.svg">
            </button>
                        
        </div>

    </div>
    
</div>