<div class="nlt-slider">

    <div class="full-slider">

        <div class="slide-item">

            <img src="../assets/Fibre-smart-nation@2x.jpg" alt="Starhub" class="img-fluid w-100">
            
            <div class="content-box py-5">
                <div class="container">

                    <h1 class="fw-normal">Fibre of a smart nation</h1>
                    <p class="small-body py-4"> NetLink Trust has been laying the optical fibre infrastructure to support Singapore’s Smart Nation journey since 2009. </p>

                    <a class="btn btn-primary" href="#" role="button">Learn more</a>
                </div>
            </div>

            <!-- Button trigger modal -->
            <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <i class="bi bi-play-circle"></i> 
            </button>

        </div>

        <div class="slide-item">

            <img src="../assets/test-banner@2x.jpeg" alt="Starhub" class="img-fluid w-100">
            
            <div class="content-box py-5">
                <div class="container">

                    <h1 class="fw-normal">Connectivity at the speed of light</h1>
                    <p class="small-body py-4">> NetLink Trust has been laying the optical fibre infrastructure to support Singapore’s Smart Nation journey since 2009. </p>

                    <a class="btn btn-primary" href="#" role="button">Learn more</a>
                </div>
            </div>
        </div>

        <div class="slide-item">

            <img src="../assets/Fibre-smart-nation@2x.jpg" alt="Starhub" class="img-fluid w-100">
            
            <div class="content-box py-5">
                <div class="container">

                    <h1 class="fw-normal">Enhancing your digital experience</h1>
                    <p class="small-body  py-4"> NetLink Trust has been laying the optical fibre infrastructure to support Singapore’s Smart Nation journey since 2009. </p>

                    <a class="btn btn-primary" href="#" role="button">Learn more</a>
                </div>
            </div>
        </div>

        <div class="slide-item">

            <img src="../assets/test-banner@2x.jpeg" alt="Starhub" class="img-fluid w-100">
            
            <div class="content-box py-5">
                <div class="container">

                    <h1 class="fw-normal">Empowering digital transformation</h1>
                    <p class="small-body py-4"> NetLink Trust has been laying the optical fibre infrastructure to support Singapore’s Smart Nation journey since 2009. </p>

                    <a class="btn btn-primary" href="#" role="button">Learn more</a>
                </div>
            </div>
        </div>

    </div>
    
</div>