.text-gray {
    color: #707070;
}


.link-dark-blue {
    color: #032853;
}

.section-content-about h2 {
    padding-bottom: 30px;
}

footer h5 a i {
    margin-left: 10px;
}

.container-fluid {
    padding-right: 20px;
    padding-left: 20px;
}

.text-dark .big-bold,
.text-dark .big-body {
    color: black;
}

.accordion table thead {
    color: #032853 !important;
    background: #F8F8F8;
}

.accordion table tbody tr {
    border: none;
}

.accordion-body {
    padding: 0;
}

button.accordion-button {
    background: transparent !important;
    box-shadow: none !important;
    padding: 35px 20px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    min-width: 100%;
}

.accordion-item {
    border: none;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17.133' height='17.133' viewBox='0 0 17.133 17.133'%3E%3Cg id='arrow-right-circle-fill' transform='translate(-10.124 17.258) rotate(-90)'%3E%3Cpath id='Path_2' data-name='Path 2' d='M17.824,25.166A1.225,1.225,0,0,0,19.557,26.9L26.9,19.557a1.224,1.224,0,0,0,0-1.733l-7.341-7.341a1.225,1.225,0,0,0-1.733,1.733l5.253,5.251H11.349a1.224,1.224,0,0,0,0,2.447H23.078l-5.254,5.252Z' transform='translate(-10)' fill='%234a96d4' fill-rule='evenodd'/%3E%3C/g%3E%3C/svg%3E%0A");
    transform: rotate(360deg);
}

.accordion-button::after {
    transform: rotate(180deg);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17.133' height='17.133' viewBox='0 0 17.133 17.133'%3E%3Cg id='arrow-right-circle-fill' transform='translate(-10.124 17.258) rotate(-90)'%3E%3Cpath id='Path_2' data-name='Path 2' d='M17.824,25.166A1.225,1.225,0,0,0,19.557,26.9L26.9,19.557a1.224,1.224,0,0,0,0-1.733l-7.341-7.341a1.225,1.225,0,0,0-1.733,1.733l5.253,5.251H11.349a1.224,1.224,0,0,0,0,2.447H23.078l-5.254,5.252Z' transform='translate(-10)' fill='%234a96d4' fill-rule='evenodd'/%3E%3C/g%3E%3C/svg%3E%0A");
}

.accordion-button:not(.collapsed) {
    color: #222;
}

.accordion-button:focus {
    border-color: #000;
}

.accordion-button:not(.collapsed) {
    transition: 0.4s ease-out;
    border-bottom: none;
}

.accordion-button {
    transition: border 4s ease-out;
}

div#collapseTwo.show {
    border-bottom: 1px solid #000;
}

.accordion-body tr th,
.accordion-body tr td,
.custom-charge-table table tr th,
.custom-charge-table table tr td {
    padding: 35px 25px;
}


.video-library .content,
.image-library .content {
    border-top: 1px solid #ccc;
}

@media (min-width: 992px) {

    .accordion-item .accordion-button {
        padding: 35px 25px;
    }
}

.accordion .accordion-item:first-child button {
    border-bottom: none !important;
}





/* readmore by css */
.read-more-state {
    display: none;
}

.read-more-target {
    opacity: 0;
    max-height: 0;
    font-size: 0;
    transition: .25s ease;
}

.read-more-trigger p {
    margin-right: 10px;
}

.read-more-state~.read-more-trigger:after {
    content: '';
    display: block;
    width: 28px;
    height: 28px;
    background-repeat: no-repeat;
    background-size: initial;
    background-position: center;
    visibility: hidden;
}

.read-more-state~.read-more-trigger:after {
    visibility: visible;
    background-image: url("data:image/svg+xml, %3Csvg class='down-icon' xmlns='http://www.w3.org/2000/svg' width='17.133' height='17.133' viewBox='0 0 17.133 17.133'%3E%3Cg transform='translate(-127.867 0)'%3E%3Cg transform='translate(127.742 -10.124)'%3E%3Cpath d='M17.824,25.166A1.225,1.225,0,0,0,19.557,26.9L26.9,19.557a1.224,1.224,0,0,0,0-1.733l-7.341-7.341a1.225,1.225,0,0,0-1.733,1.733l5.253,5.251H11.349a1.224,1.224,0,0,0,0,2.447H23.078l-5.254,5.252Z' transform='translate(-10)' fill='%234a96d4' fill-rule='evenodd' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.read-more-state:checked~.read-more-trigger:after {
    visibility: visible;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17.133' height='17.133' viewBox='0 0 17.133 17.133'%3E%3Cg id='arrow-right-circle-fill' transform='translate(-10.124 17.258) rotate(-90)'%3E%3Cpath id='Path_2' data-name='Path 2' d='M17.824,25.166A1.225,1.225,0,0,0,19.557,26.9L26.9,19.557a1.224,1.224,0,0,0,0-1.733l-7.341-7.341a1.225,1.225,0,0,0-1.733,1.733l5.253,5.251H11.349a1.224,1.224,0,0,0,0,2.447H23.078l-5.254,5.252Z' transform='translate(-10)' fill='%234a96d4' fill-rule='evenodd'/%3E%3C/g%3E%3C/svg%3E%0A");

}

.read-more-trigger {
    cursor: pointer;
    border: none;
}

.read-more-state:checked~.custom-readmore {
    display: none !important;
}

.read-more-state~.custom-readmore+label {
    display: none !important;
}

.read-more-state:checked~.custom-readmore+label {
    display: flex !important;
    border-bottom: 1px solid #032853;
    padding-bottom: 20px;
}

article.read-more-wrap p span:first-child {
    display: inline;
}

article.read-more-wrap p span:last-child {
    text-transform: none;
    display: none;
}

.read-more-state:checked~.read-more-wrap p span:first-child {
    display: none !important;
}

.read-more-state:checked~.read-more-wrap p span:last-child {
    display: inline;
}






.media-notices .media-notice {
    max-width: 414px;
}

a {
    color: #1697D9;
}

table thead {
    background: #1F313D;
}

table thead tr th:first-child {
    border-right: 1px solid #fff;
}

table tbody tr {
    border-bottom: 1px solid #d7d6d6;
}

section.cols-2-image-text .content-box {
    background: #fff;
}



@media (min-width: 576px) {
    /* .timeline-vision-mission .section-content {
    padding-bottom: 38rem !important;
    background-position: center bottom;
} */

    .read-more-state:checked~.custom-readmore+label {
        padding-bottom: 10px;
    }

}

@media (min-width: 768px) {

    .mm-menu .mm-listview li a {
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .dropdown-menu a.nav-link.mm-listitem__text {
        padding: 0;
    }

    
    .container-fluid {
        padding-right: 30px;
        padding-left: 30px;
    }

    .read-more-state:checked~.custom-readmore+label {
        padding-bottom: 15px;
    }

}

@media (min-width: 1400px) {
    .container-fluid {
        padding-right: 50px;
        padding-left: 50px;
    }
}

@media (max-width: 767px) {


    .navbar-nav .nav-link {
        padding-left: 20px;
        padding-right: 20px;
    }

    .hero-about h1 {
        max-width: 180px;
    }

    .section-content-about h2 {
        padding-bottom: 15px;
    }

    .container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .container-fluid .container {
        padding-left: 0;
        padding-right: 0;
    }

    .icon-with-content img {
        max-height: 100px;
        width: auto;
    }


    p.updated {
        font-size: 13px;
        line-height: 17px;
    }


}

@media (min-width: 992px) {

    .hero-investors p {
        margin-top: 40px;
        padding-bottom: 50px;
    }

}

@media (min-width: 1500px) {
    .article-slider.slick-initialized.slick-slider {
        margin-left: -40px;
        margin-right: -40px;
    }

    .article-news-slider .article-slider .slide-item {
        margin-right: 40px;
        margin-left: 40px;
    }

    /* 
    .nlt-slider .full-slider.slick-initialized .slide-item .content-box {
        padding-left: 165px;
    } */

}

/* TODO: :checked */
@media (max-width: 991px) {
    .nlt-slider .full-slider.slick-initialized ul.slick-dots li button:before {

        background-color: #707070;
        opacity: 50%;

    }
}


.mm-menu.show {
    display: block;
}

.dropdown-menu .mm-navbar__title span {
    display: block !important;
    text-transform: uppercase;
    text-align: left;
}

.mm-navbar__btn:not(.mm-hidden)+.mm-navbar__title {
    justify-content: flex-start;
    font-weight: bold;
    padding: 20px 0;
} 



.row.equal-cols {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  
  .row.equal-cols:before,
  .row.equal-cols:after {
    display: block;
  }
  
  .row.equal-cols > [class*='col-'] {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  
  .row.equal-cols > [class*='col-'] > * {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto; 
  }

  .article-news-slider.latest-media.latest-notices .articles-style .slide-item p {
    margin-bottom: 30px;
}

.article-news-slider.latest-notices .articles-style .slide-item {
    border-top: none;
}


@media only screen and (min-width: 1440px) and (max-width: 1490px) {

    .container-xl,
    footer > d .container-xliv {
        padding-left: 30px !important;
        padding-right: 30px !important;
    }


    
}


@media only screen and (min-width: 1200px) and (max-width: 1279px) {

    .container-xl,
    footer >  .container-xl {
        padding-left: 30px !important;
        padding-right: 30px !important;
    }
    
    header .navbar .navbar-nav li .dropdown-menu a {
        font-size: 14px;
    }

}



/*the container must be positioned relative:*/
.custom-select {
    position: relative;
  }
  
  .custom-select select {
    display: none; /*hide original SELECT element:*/
  }
  
  .select-selected {
    border-radius: 8px 8px 0px 0px;
    background-color: #F2F4F6;
    padding: 17px 32px; 
    }
  
  /*style the arrow inside the select element:*/
  .select-selected:after {
    visibility: none;
    z-index: -1;
    position: absolute;
    content: "";
    top: 22px;
    right: 20px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }
  
  /*point the arrow upwards when the select box is open (active):*/
  .select-selected.select-arrow-active:after {
    top: 22px;
  }
  
  /*style the items (options), including the selected item:*/
  .select-items div,.select-selected {
    cursor: pointer;
    user-select: none;
  }
  
  .select-selected { 
      padding: 17px 32px; 
      color: rgba(112, 112, 112, 0.7); 
      text-align: left;
    }
  
  
  /*style items (options):*/
  .select-items {
    position: absolute;
    background-color: #E5E9ED;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    border-radius: 0px 0px 8px 8px;
  }
  
  /*hide the items when the select box is closed:*/
  .select-hide {
    display: none;
  }

  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
    color: #000;
  }

  .select-items div {
    padding: 17px 32px; 
    cursor: pointer;
    color: #000;
    text-align: left;
}

  .select-selected:before {
    position: absolute;
    content: "";
    top: 20px;
    right: 20px;
    width: 15px;
    height: 15px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17.627' height='9.705' viewBox='0 0 17.627 9.705'%3E%3Cpath id='Path_2019' data-name='Path 2019' d='M10641.768-12589.294l7.808,7.291,3.4-3.541,3.6-3.75' transform='translate(-10640.354 12590.708)' fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    background-size: contain;  
}

.custom-select.added .select-selected { color: #000; }
