    .hero-about {
        padding: 5.25% 0;
        background-position: center;
    }
    
.banner-menu li {
    font-size: 22px;
    padding: 15px 0;
    line-height: 28px;
}

.banner-menu li a {
    text-decoration: none;
}

.banner-menu li a span {
    border-bottom: 2px solid white;
}

.text-dark .small-body {
    color: black;
    margin-bottom: 1.5rem;
}

.section-content-about h2 {
    padding-bottom: 30px;
}

.container-fluid {
    padding-right: 20px;
    padding-left: 20px;
}
.small-body {
    margin-bottom: 1.5rem;
}
.text-dark p {
    color: black;
}
.text-dark .big-bold, .text-dark .big-body {
    color: black;
}
.big-body {
    line-height: 1.33;
}

.mobile-banner-nav li{
    white-space: nowrap;
}
.mobile-banner-nav {
    overflow-y: auto;
    margin-top: 10px;
}
.mobile-banner-nav li a {
    text-decoration:none;
}
.mobile-banner-nav li a span{
    border-bottom: 2px solid #032853;
}

.media-notices .media-notice {
    max-width: 414px;
}
a {
    color: #1697D9;
}

@media (min-width: 576px) {
.timeline-vision-mission .section-content {
    padding-bottom: 38rem !important;
    background-position: center bottom;
}
}
@media (min-width: 768px) {
    .container-fluid {
        padding-right: 30px;
        padding-left: 30px;
    }
}

@media (min-width: 1400px) {
    .container-fluid {
        padding-right: 50px;
        padding-left: 50px;
    }
}

@media (max-width: 767px) {
    .hero-about h1 {
        max-width: 180px;
    }
    
    .text-contents-3-cols {
        padding-top: 0px;
        padding-bottom: 50px;
    }
    
    .section-content-about h2 {
        padding-bottom: 15px;
    }
    
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }
    .body-bold {
        font-size: 18px;
    }
    
    .container-fluid .container {
        padding-left: 0;
        padding-right: 0;
    }
    
    .icon-with-content img {
        max-height: 100px;
        width: auto;
    }
    
    .big-body {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 20px;
    }
    .small-body {
        font-size: 13px;
        line-height: 17px;
    }
    
    p.updated {
        font-size: 13px;
        line-height: 17px;
    }
    

}

@media (min-width: 992px) {

    .hero-investors p {
        margin-top: 40px;
        padding-bottom: 50px;
    }
    
}

@media (min-width: 1500px) {
    .article-slider.slick-initialized.slick-slider {
        margin-left: -40px;
        margin-right: -40px;
    }
    .article-news-slider .article-slider .slide-item {
        margin-right: 40px;
        margin-left: 40px;
    }
}